body {
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.8em;
  color: wheat;
  text-shadow: 0 0 2px wheat, 0 0 10px black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for footer*/
}

.width-dependent {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-color: black;
  vertical-align: baseline;
}

header {}

main {
  width: 60vw;
  flex-grow: 1;
}

footer {}

a {
  display: block;
  text-decoration: none;
}

header a:visited {
  color: #ffffff;
  /* Цвет посещенных ссылок */
}

header a:active {
  color: #ececec;
  text-decoration: underline;
  /* Цвет активных ссылок */
}

header a:hover {
  color: blue;
}
